<div class="row">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="col-md-5">
        <h5 style="font-size:26px;font-style: normal;">New video for rent:</h5>
        <form [formGroup]="videoForm">
            <p for="type">Type of media:</p>
            <select class="form-control" id="type" formControlName="type">
                <option value="cd">CD</option>
                <option value="dvd">DvD</option>
            </select>
            <p for="author">Director:</p>
            <input type="text" class="form-control" id="author" formControlName="author">
            <p for="title">Title:</p>
            <input type="text" class="form-control" id="title" formControlName="title">
            <p for="date">Rented on Date:</p>
            <input type="text" class="form-control" id="date" formControlName="date">
            <p for="status">Status:</p>
            <select class="form-control" id="status" formControlName="status">
                <option value="available">available</option>
                <option value="taken">taken</option>
                <option value="rejected">rejected</option>
            </select>
            <p for="renter">Renting User:</p>
            <select [compareWith]="compareUsers" class="form-control" id="renter" formControlName="renter">
                <option selected value=null>None</option>
                <option *ngFor="let user of users" [ngValue]="user">{{ user.firstName }} {{ user.lastName }}</option>
            </select>
            <p for="categories">Categories:</p>
            <select [compareWith]="compareCategories" class="form-control" id="categories" formControlName="categories"
                multiple>
                <option *ngFor="let category of categories" [ngValue]="category">{{ category.title }}</option>
            </select>
            <span style="font-size: 2em;">
            <button class="fa fa-floppy-o" [ngStyle]="{color : 'black'}" (click)="addVideo()" [disabled]="videoForm.invalid">
                Save Video
            </button>
            </span>
        </form>
    </div>
</div>