<div class="row">
    <div class="col-md-9" style="border: 5px;">
        <h5>
            {{ user.id }}.
            <b> {{ user.firstName }} {{ user.lastName }}</b>
            <br>
            <label>Személyi ig. szám: {{ user.personal_id }} </label>
        </h5>
        <label>Tel: {{ user.phone }}</label>
        <br>
        <label>Cím: {{ user.address }}</label>
        <br>
        <label>Státusz: {{ user.status }}</label>
        <br>
        <button class="btn btn-sm btn-primary" (click)="navigateToUserForm(user.id)">Módosít</button>
    </div>
</div>
