<div class="row">
    <div class="col-md-9" style="border: 5px;">
        <h5>
            <b>{{ video.id }}.</b>
            {{ video.title }}
            <p><b>by {{ video.director }}</b></p>
            <p class="small">Típus: {{ video.type }}</p>
            
        </h5>
        <p>
            <span class="badge badge-dark" *ngFor="let category of video.categories">{{ category.title }}</span>
        </p>

        <b class="bold">Elérhetőség: </b>
        <b class="bold" *ngIf="video.renter">{{ video.status }}</b>
        <b class="bold" *ngIf="!video.renter">elérhető</b>
        <p class="bold" *ngIf="video.renter">Kölcsönző: {{ video.renter.firstName }} {{ video.renter.lastName }}</p>
        <p class="bold" *ngIf="video.renter">Kölcsönzés dátuma: {{ video.date }} </p>
        <p></p>
        <button class="btn btn-sm btn-primary" (click)="navigateToVideoForm(video.id)">Módosít</button>
        <hr>
    </div>
</div>