<div class="row">
    <div class="col-md-9" style="border: 5px;">
        <h5>
            <b>{{ video.id }}.</b>
            {{ video.title }}
            <p><b>by {{ video.director }}</b></p>
            <p class="small">Type: {{ video.type }}</p>
            
        </h5>
        <p>
            <span class="badge badge-secondary" *ngFor="let category of video.categories">{{ category.title }}</span>
        </p>

        <b class="bold">Availability: </b>
        <b class="bold" *ngIf="video.renter">{{ video.status }}</b>
        <b class="bold" *ngIf="!video.renter">available</b>
        <p class="bold" *ngIf="video.renter">Renting user: {{ video.renter.firstName }} {{ video.renter.lastName }}</p>
        <p class="bold" *ngIf="video.renter">Renting date: {{ video.date }} </p>
        <p></p>
        <button class="btn btn-sm btn-success" (click)="navigateToVideoForm(video.id)">Edit</button>
        <hr>
    </div>
</div>