<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:red; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" href="#">Video Store</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" style="color:whitesmoke; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" routerLink="/">Videók</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:whitesmoke; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" routerLink="/user-list">Felhasználók</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:whitesmoke; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" routerLink="/video-form">Videó Regisztrálás</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:whitesmoke; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" routerLink="/user-form">Felhasználó regisztrálás</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:whitesmoke; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" routerLink="/category-form">Kategóriák</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" style="color:whitesmoke; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;" routerLink="/rent-form">Kölcsönzés</a>
            </li> -->
        </ul>
    
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>