<div class="row">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="col-md-6">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="successMessage">
            {{ successMessage }}
        </div>
        <h5 style="font-size:26px;font-style: normal;">Felhasználó regisztáció:</h5>
        <form [formGroup]="userForm">
            <p for="firstName">Vezeték neve:</p>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
            <p for="lastName">Kereszt neve:</p>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
            <p for="personal_id">Szem. ig. szám:</p>
            <input type="text" class="form-control" id="personal_id" formControlName="personal_id">
            <p for="phone">Tel.:</p>
            <input type="text" class="form-control" id="phone" formControlName="phone">
            <p for="address">Cím:</p>
            <input type="text" class="form-control" id="address" formControlName="address">
            <p for="status">Felhasználói státusz:</p>
            <select class="form-control" id="status" formControlName="status">
                <option value="aktív">Aktív</option>
                <option value="törölt">Törölt</option>
            </select>
            <p for="allow">Bérelhet: </p>
            <input type="checkbox" class="form-control" id="allow" formControlName="allow" checked>
            <br>

            <span style="font-size: 2em;">
            <button class="fa fa-floppy-o" (click)="createUser()">
                Mentés
            </button>
            </span>
        </form>
    </div>
</div>